
@media only screen and (max-width: 1450px) {

}

@media only screen and (max-width: 1199px) {

}


@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 991px) {
	html { overflow-x:hidden  }

}

@media only screen and (min-width: 767px) {
	.home6-modern #page-content { padding-top:13px; }

	.prstyle2 .prFeatures { float:left; width:100%; padding-top:30px; }
 	.prstyle2 .prFeatures img { max-width:40px; }
 	.prstyle2 .prFeatures .details { margin-left:55px; }
	.prstyle3 .prFeatures .grid__item { margin-bottom:30px }
	.prstyle3 .prFeatures img { max-width:40px }
	.prstyle3 .prFeatures .details { margin-left:50px }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
    .navbar form.d-flex .input-group { width: auto; margin: 1.5rem 4rem 0 auto;}
}

@media only screen and (max-width: 480px) {

}
