/* `xs` returns only a ruleset and no media query */
/* ... {  } */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}
@media only screen and (max-width: 991px) {
	html { overflow-x:hidden  }
    .navbar form.d-flex .input-group { width: auto; margin: 1.5rem 4rem 0 auto;}

}
	.navbar form.d-flex .input-group { width: auto; margin: 1.5rem 4rem 0 auto;}

    #home_content h1::after { width: 9.8rem !important; margin-top: 1.3rem !important; }
    p.hero-description { font-size: 3rem !important; line-height: 4rem !important; letter-spacing: 0.07rem !important;}
}

@media only screen and (min-width: 767px) {


}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
    .navbar form.d-flex .input-group { width: auto; margin: 1.5rem 4rem 0 auto;}
}

@media only screen and (max-width: 480px) {

=======
/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	section { padding: 7rem 0 !important; }
	.navbar-nav { margin-left: 0 !important; }
	.nav-item { margin-top: 1rem !important; margin-left: 4rem !important; }
	form.d-flex { margin-top: 10px; margin-right: 15px; }
	h1 { font-size: 4.5rem !important; line-height: 6rem !important; letter-spacing: 0.08rem !important; }
	p.hero-description { font-size: 3rem !important; line-height: 4rem !important; letter-spacing: 0.07rem !important; }
	.customer-section { margin-top: 5rem !important; }
	.customer-section h2 { font-size: 2rem !important; }
	.customer-section h3 { margin-bottom: 3rem; font-size: 3.5rem; line-height: 4.5rem; }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
	.navbar-nav { margin-left: 0 !important; }
}
