/*===================== */
/* Basic Setup */
/*===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-image: url(resource/img/Rectangle%20420.png);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3rem;
    font-size: 1.6rem;
}
/* .row {
    max-width: 144.3rem;
    margin: 0 2rem;
} */
section {
    padding: 10rem 0;
    /*    max-width: 144.3rem;*/
}
.box {
    padding: 1%;
}
.little-description {
    font-size: 2.4rem;
    width: 60%;
    line-height: 3rem;
}
/* header */
h1 {
    font-size: 5.5rem;
    color: black;
    line-height: 7rem;
    font-weight: 900;
    letter-spacing: .082rem;

}
h1::after {
    content: "";
    background: #610BEF;
    width: 10.8rem;
    height: .9rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-left: 0;
    border-radius: .5rem;
}
h1 span.fluid {
    color: #F9A826;
}
.row .hero-description {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: .075rem;
    font-style: normal;
}
span.hero-p {
    color: #6A10FF;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*===================== */
/* Header Section */
/*===================== */
header {
    height: 85vh;
    position: relative;
    background-attachment: fixed;
    padding-bottom: 10rem;

}
.navbar-brand {
  margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    float: left;
}
.nav-item {
    text-align: center;
    margin-top: 2rem;
    margin-left: 5rem;

}
.nav-item li {
    display: inline-block;
    margin-left: .5rem;
    margin-right: .7rem;
    text-align: center;
}
.nav-item li:first-child {
    margin-left: 0rem;
}
.nav-item li a:link,
.nav-item li a:visited {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    background: rgba(182, 194, 217, 0);
    padding: .6rem 1.6rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .3s;
}
.nav-item li:hover a:link,
.nav-item li:hover a:visited {
    background: rgba(182, 194, 217, 1);
}
.navbar-nav{
    margin-left: 12rem;
}
#language {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
.nav-item.input-group {
  margin-right: 6rem;
}
/*===================== */
/* customer section */
/*===================== */
.customer-section {
    margin-top: 7rem;
    background: #F9F9FD;
    text-align: center;
    display: block;
}
.customer-section h2 {
    color: #96A1B8;
    margin: auto;
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 2%;
}
.customer-section h3 {
    color: #06193E;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2%;
    line-height: 4.8rem;
}
/*===================== */
/* mission section */
/*===================== */
.mission {
    text-align: center;
    border: .1rem solid #ccc;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.5);
    padding: 4rem;
    border-radius: 1.6rem;
    margin: 1.5rem;
}
.mission-section .col1 h2 {
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 700;
}
.mission-section .col1 h2::after {
    content: "";
    background: #610BEF;
    width: 10.8rem;
    height: .9rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-left: 0;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.mission-section h3 {
    text-align: center;
    line-height: 1.7rem;
}
.mission-section p {
    color: #929EB7;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.9rem;
}
.mission-section h5 {
    font-size: 2.3rem;
    font-weight: 400;
    font-style: normal;

}
.mission-section .mission .services-icon {
    height: 10rem;
    margin-bottom: 3.5rem;
    align-items: center;
}
.flex-container {
    width: 90%;
    min-height: 30rem;
    margin: 0 auto;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    /* Standard syntax */
}
.flex-container .column {
    padding: 1rem;
    -webkit-flex: 1;
    /* Safari */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* Standard syntax */
}
/*===================== */
/* fluid section */
/*===================== */
.fluid-section h2 {
    font-size: 4.2rem;
    color: black;
    line-height: 6rem;
    font-weight: 700;
    letter-spacing: .078rem;

}
.fluid-section h2::after {
    content: "";
    background: #610BEF;
    width: 10.8rem;
    height: .9rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-left: 0;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.fluid-section p {
    text-align: left;
    color: #14142B;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    margin-top: 3rem;
}
.fluid-section .box1 {
    Width: 60.4rem;
    Height: 35.9 rem;
    margin-left: 8rem;
    line-height: 2.8rem;
    margin-top: 5rem;
}

/*===================== */
/* realtime section */
/*===================== */

.realtime-section h2 {
    font-size: 4.2rem;
    color: black;
    line-height: 6rem;
    font-weight: 700;
    letter-spacing: .078rem;

}
.realtime-section h2::after {
    content: "";
    background: #22BFBF;
    width: 10.8rem;
    height: .9rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-left: 0;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.realtime-section p {
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    margin-top: 3rem;
    color: #14142B;
}
.realtime-section .box1 {
    Width: 60.4rem;
    Height: 35.9 rem;
    margin-left: 7.8rem;
    line-height: 2.8rem;
    margin-top: 7rem;
    margin-right: 15rem;
}
/*===================== */
/* fluid platform section */
/*===================== */
.col-3 {
  flex: 0 0 auto;
  width: 37%;
    margin-top: 3rem;
}
.fluid_platform-section h2 {
    font-size: 4.2rem;
    color: black;
    line-height: 6rem;
    font-weight: 700;
    letter-spacing: .078rem;

}
.fluid_platform-section h2::after {
    content: "";
    background: #F5406C;
    width: 10.8rem;
    height: .9rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-left: 0;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.fluid_platform-section p {
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    margin-top: 3rem;
    color: #14142B;
}
.fluid_platform-section .box1 {
    Width: 60.4rem;
    Height: 35.9 rem;
    margin-left: 25rem;
    line-height: 2.8rem;
    margin-top: 7rem;
}

/*===================== */
/* holistic section */
/*===================== */

.holistic-section h2 {
    font-size: 4.2rem;
    color: black;
    line-height: 6rem;
    font-weight: 700;
    letter-spacing: .078rem;

}
.holistic-section h2::after {
    content: "";
    background: #22BFBF;
    width: 10.8rem;
    height: .9rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-left: 0;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.holistic-section p {
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    margin-top: 3rem;
    color: #14142B;
}
.holistic-section .box1 {
    Height: 35.9rem;
    // margin-left: 7.8rem;
    line-height: 2.8rem;
    // margin-top: 7rem;
}
.holistic-section img {
    margin-left: -27rem;
}

/*===================== */
/* success section */
/*===================== */
.success-section {
    text-align: center;
    display: block;

}
.success-section h2 {
    color: #96A1B8;
    margin: auto;
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 2%;
}
.success-section h3 {
    color: #06193E;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2%;
    line-height: 4.8rem;
}
.success-section h3::after {
    content: "";
    background: #7863FF;
    width: 37.8rem;
    height: .9rem;
    display: block;
    margin: 2rem auto;
    border-radius: .5rem;
    text-align: center;
}
.success-section h4 {
    color: #96A1B8;
    margin: auto;
    font-weight: 400;
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: 2%;
    line-height: 3.969rem;
}
.success-section .flex-container img {
    width: 100%;
}
.success-section .flex-container h2 {
    color: #06193E;
    margin: auto;
    font-weight: 700;
    font-size: 1.8rem;
    font-style: normal;
    text-align: left;
    letter-spacing: 2%;
    line-height: 2.7rem;
    margin: 1rem;
}
.success-section .flex-container p {
    text-indent: 2rem;
    color: #96A1B8;
    margin: auto;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: left;
    letter-spacing: 2%;
    line-height: 2.1rem;
    margin: 1rem;
}
/*===================== */
/* team section */
/*===================== */
.team-section h3 {
    color: #06193E;
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2%;
}
.team-section h3::after {
    content: "";
    background: #F9A826;
    width: 30.8rem;
    height: .9rem;
    display: block;
    margin: 3rem auto 0;
    border-radius: .5rem;
    text-align: center;
}
.team-section .box2 {
    background: #FFD978;
    border-radius: 4.9rem;
    height: 53rem;
    padding: 5rem !important;
}
.team-section .box3 {
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.95rem;
}
.team-section span.coma{
    color: white;
    opacity: 23%;
    font-weight: 900;
    font-size: 10rem;
    position: relative;
}

.team-section span.coma.first{
    left: 3%;
    top: 10%;
}

.team-section span.coma.last{
    left: 0;
    top: 12%;
}
/*===================== */
/* hiring section */
/*===================== */
.hiring-section {
    background: url(resource/img/hiring%20%20section.png);
    background-size: cover;
}

.hiring-section h2 {
    text-align: center;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
}

.hiring-section h3 {
    text-align: center;
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    font-style: normal;
    margin-bottom: 3rem;
}

.row.row-cols-8{
  background: #4B05BC;
  color: white;
  padding-top: 1rem;
  border-radius: 6rem;
  font-size: 1.09rem;
}

.hiring-section .box {
    border-radius: 4rem;
    min-height: 43rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.5);
    margin: 2rem 1rem;
    padding-bottom: 3rem;
}

.hiring-section .box .heading-box {
    padding: 2.5rem 3rem;
    border-radius: 3rem;
    margin:-.85rem -.85rem 0 -.85rem;
    min-height: 33.3rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.5);
}

.contact-box {
    height: 20rem;
    padding-top: 0;
    padding-bottom: 0;
}

.col{
    padding: 0.5rem 1rem;
}
.hiring-section .flex-containter h5 {
    text-align: left;
    color: black;
    font-size: 2.8rem;
    line-height: 3rem;
    font-weight: 700;
    margin-left: -2rem;
}

.hiring-section span.hiring {
    color: #F9A826;
}
.img-box{
    color: white;
    font-size: .8rem;
    text-align: center;
    margin-top: 2rem;


}
.hiring-section h6 {
    color: #929EB7;
    line-height: 2.4rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
}

.hiring-section span.frontend {
    color: #22BFBF;
}

.hiring-section span.sre {
    color: #F5406C;
}

.hiring-section span.qa {
    color: #6A10FF;
}

.col.span_1_of_1.box {
    background: white;
    border: .1rem solid #ccc;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.5);
    padding-top: 2rem;
    padding-left: 0;
    border-radius: 4rem;
    margin-top: 4rem;
    width: 57rem;
    margin-left: 30rem;

}

.hiring-section span.insights {
    color: #6A10FF;
}

.col.span_3_of_6 h5 {
    color: white;
}

.col.span_3_of_6 h7 {
    color: white;
}
.row.row-cols-2.justify-content-center{
    margin-bottom: 4rem;
}
.contact {
    width: 100%;
}
.contact-box.border-end {
  color: white;
}
h5 {
    font-size: 2.8rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
h7{
    color: white;
    font-size: 2.2rem;
    line-height: 3.6rem;
}
.list-group-item.border-0.d-flex.justify-content-start.align-items-start.bg-transparent{
    color: white;
    line-height: 2.3rem;
    font-size: 1.6rem;
}
.list-group-item.border-0.d-flex.justify-content-start.align-items-center.bg-transparent{
    color: white;
    line-height: 2.3rem;
    font-size: 1.6rem;
}
/*===================== */
/* contact section */
/*===================== */
.contact-section {
  background: white;
  max-height: 52rem;
}
.card{
    padding-left: 2rem;
    padding-right: 2rem;
}
.form .card-title::after {
    content: "";
    background: none;
    width: 0 !important;
    height: 0 !important;
    display: none !important;
    margin: 0 !important;
    border-radius: 0;
}
.contact-section .card h6.card-subtitle {
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
  line-height: 4rem;
  padding-bottom: 2rem;
}
#name, #company, #email, #number, #subject, #message {
  border-radius: 1.3rem;
}
label {
  color: black;
  font-size: 1.4rem;
}
.card {
  border-radius: 3rem;
}
.btn.btn-primary {
  border-radius: 1.3rem;
  background: #610BEF;
}
/*===================== */
/* speech section */
/*===================== */
.speech-section {
    background: url(resource/img/speech.png);
    color: white;
    text-align: center;
}

.speech-section p {
    font-size: 3.5rem;
    line-height: 7rem;
    font-style: normal;
    font-weight: 300;
}

.speech-section p span.speech {
    font-weight: 900;
}

.speech-section p span.colon {
    color: #6A10FF;
    font-size: 8rem;
    font-weight: 800;
}
/*===================== */
/* footer section */
/*===================== */

.footer-section {
    padding-top: 40rem;
    padding-bottom: 2rem;
}
.footer-section .nav > .nav-item {
    margin-left: 3rem !important;
    margin-top: 4rem;
}
